{% load static %}
{% load app_tags %}
<div class="footer_section layout_padding">
	<div class="container">
		<div class="footer_logo"><a href="index.html"><img src="{% static 'app/images/footer-logo.png' %}"></a></div>
		<div class="input_bt">
			<input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
			<span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
		</div>
		<div class="footer_menu">
			{% show_cats %}
		</div>
		<div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
	</div>
</div>
